*/bin
*/obj
.vs/*
.vs/TruSport/xs/UserPrefs.xml
.vs/TruSport/xs/project-cache/TruSport.Android-Debug.json
.vs/TruSport/xs/project-cache/TruSport.Android-Debug.json
.vs/TruSport/xs/project-cache/TruSport.Android-Debug.json
.vs/TruSport/xs/project-cache/TruSport.iOS-Debug|iPhoneSimulator.json
.vs/TruSport/xs/UserPrefs.xml
.vs/TruSport/xs/UserPrefs.xml
.vs/TruSport/xs/UserPrefs.xml
.vs/TruSport/xs/project-cache/OnTrackWebService-Debug.json
.vs/TruSport/xs/project-cache/OnTrackWebService-Release.json
.vs/TruSport/xs/project-cache/OnTrackWebService-Debug.json
.vs/TruSport/xs/UserPrefs.xml
.vs/TruSport/xs/project-cache/TruSport.iOS-Release|iPhoneSimulator.json
.vs/TruSport/xs/UserPrefs.xml
