<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>CFBundleDisplayName</key>
	<string>OnTrack</string>
	<key>CFBundleIdentifier</key>
	<string>com.techreef.trusport</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>CFBundleName</key>
	<string>OnTrack</string>
	<key>UIAppFonts</key>
	<array>
		<string>icomoon.ttf</string>
		<string>fa-light-300.ttf</string>
		<string>fa-regular-400.ttf</string>
		<string>fa-solid-900.ttf</string>
		<string>fa-brands-400.ttf</string>
		<string>fa-duotone-900.ttf</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>CFBundleVersion</key>
	<string>1.32</string>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1338169805120312~6077936967</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.2</string>
	<key>UIRequiresFullScreen</key>
	<true/>
</dict>
</plist>
